.nav {
    z-index: 2;
    height: 60px;
    position: fixed;
    width: 100%;
    transition: 400ms ease-in-out background-color,
                400ms ease-in-out box-shadow;
     &_menu {
                    list-style: none;
                    display: flex;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    right: 1%;
                    &_item {
                        
                        font-size: 20px;
                        &_link {
                            margin-left: 20px;
                            margin-right: 12px;
                            &:last-child {
                                margin-right: 0;
                            }
                        }
                    }
    }  
    &_logo {
        height: 100px;
        margin-top: 10px;
        left: 1%;
        position: absolute;
    }
}
.active_nav {
    background-color: $primary-color;
    opacity: 0.9;
}

.active_logo {
    height: 55px;
    top: 50%;
    transform: translateY(-50%);
    left: 1%;
    position: absolute;
    margin: 0;
}



